[tower]
localhost ansible_connection=local

[database]

[all:vars]
create_preload_data=false
admin_password='{{ password.msg }}'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='{{ tower_password }}'

rabbitmq_username=tower
rabbitmq_password='{{ tower_password }}'
rabbitmq_cookie=cookiemonster

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true
